#datos{
    background-color: goldenrod;
   
}
#lista{
    background-color: goldenrod;
}
#listas{
    background-color: goldenrod;
}
#titulobio{
    background-color: goldenrod;
}
.bio{
    background-color: goldenrod;
    font-size: large;
}